html {
	font-family: 'Roboto', sans-serif;
}

@media (min-width: 576px) {
	html {
		font-size: 14px;
	}
}

@media (min-width: 768px) {
	html {
		font-size: 16px;
	}
}

@media (min-width: 992px) {
	html {
		font-size: 18px;
	}
}

@media (min-width: 1200px) {
	html {
		font-size: 20px;
	}
}

.icon i {
	font-size: 3em;
}

/* Custom Styles */

main {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	justify-content: center;
	padding: 0 30px;
	text-align: center;
}

main > .salut {
	font-family: 'Reem Kufi', sans-serif;
	font-size: 3.75em;
	font-weight: 600;
}

main > .description {
	font-size: 1.5rem;
	margin: 1.5rem 0;
	font-weight: 100;
}

.icon i {
	padding: 10px;
}

main {
	background: #726565;
	color: #303F9F;
}

.icon a {
	color: #e01171;
}

.icon a svg path{
	fill: #303F9F;
}

footer {
    text-align: center ;
}